%p{"style" => "color:red"}
  #{show_error_message(@comment)}

%div
  =@blog.title
%div
  =@blog.body
%div
  %a{"href" => "/blogs/#{@blog.id}/edit"}
    edit
  %form{"action" => "/blogs/#{@blog.id}", "method" => "post"}
    %input{"type"=>"hidden", "value" => "DELETE", "name" => "_method"}
    %input{"type"=>"submit", "value"=>"delete"}
%div
  - @images.each do |image_path|
    %img{:src => "#{image_path}"}
%ul
  -@comments.each do |comment|
    %li
      #{comment.body}
      %span{"style" => "padding-left: 10px;color: red"}
        =message_info(comment)
    %form{"action"=>"/blogs/#{@blog.id}/comments/#{comment.id}", "method" => "post"}
      %input{"type"=>"hidden","value"=>"DELETE","name"=>"_method"}
      %input{"type"=>"submit","value"=>"delete"}
%form{"action" => "/blogs/#{@blog.id}/comments" ,"method" => "post"}
  %div 
    %textarea{"name" => "body"}
  %div
    %input{"type" => "submit", "value" => "submit"}

